<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <a href="http://rrchnm.org/"><img src="/images/rrchnm-logo.svg" width="260" height="48" alt="Roy Rosenzweig Center for History and New Media"></a>
        <nav class="footer-nav">
          <a href="/">Tropy</a>
          <a href="https://twitter.com/TropyCHNM">Twitter</a>
          <a href="https://github.com/tropy/tropy">Repository</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
