<div class="container">
  <footer class="main-footer">
    <div class="row">
      <div class="col-sm-12">
        <a href="http://rrchnm.org/"><img src="/images/rrchnm-logo.svg" width="260" height="48" alt="Roy Rosenzweig Center for History and New Media"></a>
        <div class="footer-right">
          <nav class="footer-nav">
            <ul>
              <li><a href="/credits">Credits</a></li>
              <li><a href="/license">License</a></li>
            </ul>
          </nav>
          <nav class="footer-nav link-group">
            <h2>Follow us:</h2>
            <ul>
              <li><a href="https://tropy.org/blog/rss">RSS</a></li>
              <li><a href="https://twitter.com/tropy">Twitter</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </footer>
</div>
