<div class="container">
  <footer class="main-footer">
    <div class="footer-nav-container">
      <nav class="footer-nav page-nav">
        <ul>
          <li><a href="/workshops">Workshops</a></li>
          <li><a href="/credits">Credits</a></li>
          <li><a href="/license">License</a></li>
          <li><a href="/jobs">Jobs</a></li>
        </ul>
      </nav>
      <div class="social-nav-container">
        <h2>Follow us:</h2>
        <nav class="footer-nav social-nav">
          <ul>
            <li><a href="https://buttondown.email/tropy">Newsletter</a></li>
            <li><a href="https://tropy.org/blog/rss">RSS</a></li>
            <li><a href="https://twitter.com/tropy">Twitter</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="logo-container">
      <a class="logo-link rrchnm-link" href="http://rrchnm.org/">
        <img src="/images/rrchnm-logo.svg" width="217" height="40" alt="Roy Rosenzweig Center for History and New Media">
      </a>
      <a class="logo-link c2dh-link" href="https://www.c2dh.uni.lu/">
        <img src="/images/c2dh-logo.svg" width="99" height="48" alt="Luxembourg Centre for Contemporary and Digital History">
      </a>
    </div>
  </footer>
</div>
