<header>
  <div class="container">
    <h1 class="brand"><a href="/">
      <img class="tropy-icon hidden-xs" src="/images/tropy-icon-small.svg" width="36" height="32" alt=""><!--
      --><span class="brand-title">Tropy</span></a>
    </h1>
    <nav class="header-nav">
      <a href="https://github.com/tropy/tropy"><img src="/images/mark-github.svg" width="32" height="32" alt="GitHub"></a>
    </nav>
  </div>
</header>
