<header class="main-header">
  <div class="container">
    <h1 class="brand"><a href="/">
      <img class="tropy-icon hidden-xs" src="/images/tropy-icon-small.svg" width="36" height="32" alt=""><!--
      --><span class="brand-title">Tropy</span></a>
    </h1>
    <nav class="header-nav hidden-xs">
      <a href="/documentation">Documentation</a><!--
      --><a href="/blog">Blog</a><!--
      --><a href="/discuss">Discuss</a><!--
      --><a href="https://github.com/tropy/tropy"><img src="/images/mark-github.svg" width="32" height="32" alt="GitHub"></a>
    </nav>
    <button class="nav-toggle visible-xs-block" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
</header>
