<header class="mobile-nav">
  <nav>
    <ul>
      <li class="active"><a href="/">Tropy</a></li>
      <li><a href="https://docs.tropy.org">Documentation</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="https://forums.tropy.org">Forums</a></li>
      <li><a href="https://github.com/tropy/tropy">GitHub</a></li>
    </ul>
  </nav>
</header>
<div class="nav-cover"></div>
