<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{>meta}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    {{>mobile-nav}}
    <div class="site-wrapper">
      {{#block 'header'}}
      {{>header}}
      {{/block}}
      <main>
        {{{body}}}
      </main>
      {{{block 'footer'}}}
    </div>
    {{>analytics}}
    {{>javascripts}}
    <script src="/javascripts/os.js"></script>
    <script src="/javascripts/scroll.js"></script>
  </body>
</html>
