<div class="container-fluid">
  <header class="page-header">
    <h1>Credits</h1>
  </header>

  <section class="page-section-sm">
    <h2>About Tropy</h2>
    <p class="lead">Tropy is designed by the <a href="http://rrchnm.org/">Roy Rosenzweig Center for History and New Media</a>, a team that develops historical teaching resources, digital exhibits, and open-source software.</p>
  </section>

  <section class="page-section-sm">
    <h2>Funding</h2>
    <p class="lead">Tropy is funded by <a href="https://mellon.org">The Andrew W. Mellon Foundation</a>.</p>
  </section>

  <section class="page-section-sm">
    <h2>Contributors</h2>
    <div class="contributors clearfix">
      <div class="col-sm-6 col-md-4 contributor">
        <h3 class="h4">Megan Brett</h3>
        <p>Outreach coordinator</p>
      </div>
      <div class="col-sm-6 col-md-4 contributor">
        <h3 class="h4">Faolan Cheslack-Postava</h3>
        <p>Prototyping</p>
      </div>
      <div class="col-sm-6 col-md-4 contributor">
        <h3 class="h4">Sylvester Keil</h3>
        <p>Lead developer</p>
      </div>
      <div class="col-sm-6 col-md-4 contributor">
        <h3 class="h4">Johannes Krtek</h3>
        <p>Product designer</p>
      </div>
      <div class="col-sm-6 col-md-4 contributor">
        <h3 class="h4">Roberto Martínez</h3>
        <p>Developer</p>
      </div>
      <div class="col-sm-6 col-md-4 contributor">
        <h3 class="h4">Abby Mullen</h3>
        <p>Principal investigator</p>
      </div>
      <div class="col-sm-6 col-md-4 contributor">
        <h3 class="h4">Stephen Robertson</h3>
        <p>Co-PI (2015-2018)</p>
      </div>
      <div class="col-sm-6 col-md-4 contributor">
        <h3 class="h4">Jim Safley</h3>
        <p>Metadata specialist</p>
      </div>
      <div class="col-sm-6 col-md-4 contributor">
        <h3 class="h4">Kirill Stytsenko</h3>
        <p>Developer (2017-2018)</p>
      </div>
      <div class="col-sm-6 col-md-4 contributor">
        <h3 class="h4">Sean Takats</h3>
        <p>Principal investigator</p>
      </div>
    </div>
  </section>

  <section class="page-section-sm">
    <h2>Awesome software Tropy uses</h2>
    <div class="logos clearfix">
      <div class="col-sm-6 col-md-4 logo">
        <!-- React -->
        <a href="https://reactjs.org">
          <svg xmlns="http://www.w3.org/2000/svg" width="147" height="36" viewBox="0 0 147 36">
            <path class="blue-gray" d="M32.214,11.947h0q-.616-.211-1.242-.391.1-.422.192-.847c.94-4.565.325-8.242-1.774-9.453C27.376.1,24.084,1.306,20.759,4.2q-.491.429-.961.882-.314-.3-.639-.591C15.674,1.4,12.181.092,10.083,1.307c-2.011,1.164-2.607,4.621-1.76,8.947q.126.643.285,1.278c-.494.14-.972.29-1.428.449C3.094,13.406.485,15.638.485,17.954c0,2.392,2.8,4.79,7.056,6.245q.518.176,1.043.326-.171.685-.3,1.378c-.807,4.251-.177,7.626,1.829,8.783,2.072,1.195,5.549-.033,8.935-2.993q.4-.351.805-.742.508.49,1.043.952c3.28,2.822,6.519,3.962,8.523,2.8,2.07-1.2,2.742-4.824,1.869-9.236q-.1-.505-.231-1.032.366-.108.718-.224c4.424-1.466,7.3-3.835,7.3-6.259C39.075,15.63,36.382,13.382,32.214,11.947Zm-10.373-6.5c2.849-2.479,5.512-3.458,6.725-2.759h0c1.292.745,1.795,3.751.983,7.692q-.08.385-.174.767a39.492,39.492,0,0,0-5.16-.815,38.726,38.726,0,0,0-3.262-4.071Q21.387,5.839,21.841,5.443ZM11.879,19.932q.523,1.011,1.094,2,.582,1.005,1.212,1.982a35.1,35.1,0,0,1-3.556-.572C10.969,22.238,11.389,21.095,11.879,19.932Zm0-3.877c-.48-1.139-.891-2.258-1.226-3.339,1.1-.246,2.275-.448,3.5-.6q-.614.958-1.183,1.944T11.878,16.054Zm.876,1.939q.762-1.586,1.641-3.111h0q.879-1.524,1.871-2.979c1.148-.087,2.324-.132,3.514-.132s2.373.046,3.52.133q.982,1.451,1.859,2.969t1.664,3.1q-.773,1.591-1.658,3.124h0q-.877,1.523-1.851,2.987c-1.145.082-2.328.124-3.534.124s-2.369-.037-3.494-.11q-1-1.46-1.886-2.992T12.754,17.993Zm13.84,3.924q.582-1.01,1.119-2.045h0a35.01,35.01,0,0,1,1.3,3.395,34.985,34.985,0,0,1-3.6.614q.612-.97,1.185-1.964Zm1.1-5.861q-.535-1.015-1.11-2.008h0q-.566-.977-1.173-1.93c1.231.155,2.411.362,3.519.615A35.17,35.17,0,0,1,27.7,16.056Zm-7.9-8.62a35.256,35.256,0,0,1,2.271,2.741q-2.279-.108-4.561,0C18.258,9.188,19.026,8.269,19.8,7.436Zm-8.889-4.7c1.291-.747,4.146.318,7.155,2.99.192.171.385.35.579.535a39.5,39.5,0,0,0-3.287,4.068,40.281,40.281,0,0,0-5.149.8q-.148-.591-.265-1.189h0C9.215,6.231,9.7,3.435,10.909,2.733Zm-1.882,20.2q-.48-.137-.953-.3a13.966,13.966,0,0,1-4.5-2.391,3.407,3.407,0,0,1-1.44-2.294c0-1.405,2.1-3.2,5.589-4.416q.658-.228,1.328-.418a39.537,39.537,0,0,0,1.881,4.874A40.137,40.137,0,0,0,9.027,22.937Zm8.934,7.514a13.962,13.962,0,0,1-4.32,2.7h0a3.407,3.407,0,0,1-2.706.1c-1.217-.7-1.723-3.412-1.033-7.047q.123-.644.282-1.281a38.765,38.765,0,0,0,5.2.753A40.116,40.116,0,0,0,18.7,29.774Q18.337,30.122,17.961,30.451Zm1.883-1.863c-.781-.843-1.561-1.776-2.322-2.779q1.108.044,2.258.044,1.18,0,2.329-.052a35.057,35.057,0,0,1-2.265,2.787Zm10.011,2.294a3.407,3.407,0,0,1-1.263,2.4c-1.216.7-3.817-.211-6.622-2.625q-.482-.415-.97-.885a38.739,38.739,0,0,0,3.235-4.107,38.483,38.483,0,0,0,5.227-.806q.118.476.209.934h0a13.959,13.959,0,0,1,.185,5.093Zm1.4-8.234h0c-.211.07-.427.137-.648.2a38.693,38.693,0,0,0-1.954-4.889,38.676,38.676,0,0,0,1.878-4.817c.395.114.778.235,1.147.362,3.571,1.229,5.749,3.047,5.749,4.447,0,1.492-2.353,3.429-6.172,4.694ZM19.78,14.508a3.446,3.446,0,1,1-3.446,3.446h0a3.446,3.446,0,0,1,3.446-3.446h0m110.2,3.914a3.562,3.562,0,0,0-3.715-3.248c-2.5,0-4.081,2.132-4.081,5.647,0,3.581,1.583,5.647,4.1,5.647a3.459,3.459,0,0,0,3.715-3.131h4.531c-.283,4.264-3.481,6.979-8.3,6.979-5.48,0-8.978-3.6-8.978-9.495,0-5.813,3.5-9.478,8.945-9.478,4.93,0,8.079,3,8.312,7.079ZM143.435,7.578v4.081h3.4V15.34h-3.4v8.912c0,1.416.7,2.1,2.182,2.1a8.327,8.327,0,0,0,1.216-.084v3.6a12.907,12.907,0,0,1-2.349.2c-4.248,0-5.913-1.432-5.913-5.014V15.34h-2.482V11.659h2.482V7.578Zm-36.612,3.764c-4.581,0-7.746,2.416-7.879,5.913h4.447c.233-1.332,1.466-2.265,3.232-2.265,2,0,3.215.966,3.215,2.732v1.216l-4.581.283c-4.681.283-7.229,2.166-7.229,5.5,0,3.282,2.648,5.5,6.18,5.5a6.276,6.276,0,0,0,5.613-3.048h.1V30h4.7V17.422C114.618,13.758,111.537,11.342,106.823,11.342Zm3.015,11.927c0,2-1.8,3.4-4.048,3.4-1.766,0-2.915-.849-2.915-2.2s1.082-2.149,3.115-2.282l3.848-.267ZM95.7,21.953v-1.5c0-5.58-3.365-9.111-8.645-9.111-5.38,0-8.812,3.731-8.812,9.561s3.415,9.411,8.995,9.411c4.464,0,7.779-2.365,8.312-5.913H91.065a3.689,3.689,0,0,1-3.748,2.282,4.124,4.124,0,0,1-4.281-4.431v-.3Zm-8.6-6.979A3.8,3.8,0,0,1,91,18.938H83.086A3.992,3.992,0,0,1,87.1,14.974Zm-15.491,5.48a7.064,7.064,0,0,0,4.364-6.829c0-4.747-3.165-7.662-8.695-7.662H57.351V30h5.03V21.2H66.5L70.976,30h5.7Zm-4.814-2.9H62.381V9.893h4.364c2.5,0,4.064,1.5,4.064,3.831C70.81,16.106,69.327,17.555,66.8,17.555Z" fill="#61dafb"/>
          </svg>
        </a>
      </div><!--
      --><div class="col-sm-6 col-md-4 logo pixi-js">
        <!-- PixiJS -->
        <a href="http://www.pixijs.com/">
          <svg xmlns="http://www.w3.org/2000/svg" width="110" height="36" viewBox="0 0 110 36">
            <path class="blue-gray" d="M91.687,20.067h2.276L95.6,28.8l5.193-8.7h2.372l-6.8,11H93.995ZM110,29.34l-.337,1.972h-2.284L107.139,36h-2.02l.264-4.689H99.228l.385-2.116,5.795-9.064h2.957l-.817,9.209Zm-3.859-6.877-4.2,6.877h3.643Z" fill="#222"/>
            <path class="blue-gray" d="M20.245,3.6A3.316,3.316,0,0,1,23.782.271a3.367,3.367,0,0,1,3.484,3.453,3.212,3.212,0,0,1-3.484,3.255A3.349,3.349,0,0,1,20.245,3.6ZM40.826,9.552H53.377V30.9H40.538l-3.847-7.117L33.036,30.9h-12.6V14.168S18.8,21.333,6.588,20.42V30.9H0V1.954a45.348,45.348,0,0,1,8.415-.673c5.193,0,11.733.866,12.647,8.271H33.277l3.9,6.78Zm-26.3,1.058c0-3.679-3.607-4.929-7.91-4.039l-.024,8.656C11.06,16.116,14.522,14.289,14.522,10.61ZM32.988,20.1l-5.867-8.72v17.44ZM41,19.682l5.717,9.1V11.414ZM50.037.271A3.316,3.316,0,0,0,46.5,3.6a3.349,3.349,0,0,0,3.537,3.375,3.212,3.212,0,0,0,3.484-3.255A3.367,3.367,0,0,0,50.037.271ZM80.627,13.078c-2.6-1.058-4.52-2.052-4.52-3.623S77.293,6.41,80.562,6.41a14.294,14.294,0,0,1,5.963,1.411l1.539-5.354A19.324,19.324,0,0,0,80.851.992c-6.158,0-10.413,2.843-11.188,7.14v-6.7l-6.668.044v18.69c0,4.36-1.507,6.8-7.918,5.193l-.8,5.29a14.716,14.716,0,0,0,4.9.737c3.118,0,10.483-.136,10.483-11.613V11.178c.744,4.43,4.609,6.114,7.983,7.382,3.606,1.356,4.841,2.468,4.841,4.136s-1.475,3.174-4.552,3.174a18.018,18.018,0,0,1-7.566-1.827L69.054,29.46a18.241,18.241,0,0,0,8.4,1.827c5.193,0,11.765-2.308,11.765-9.169C89.218,15.771,83.223,14.136,80.627,13.078Z" fill="#e91e63"/>
          </svg>
        </a>
      </div><!--
      --><div class="col-sm-6 col-md-4 logo sqlite">
        <!-- SQLite -->
        <a href="https://www.sqlite.org/">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="110" height="49" viewBox="0 0 110 49">
            <defs>
              <linearGradient id="a" data-name="Unbenannter Verlauf 9" x1="-663.09" y1="1023.811" x2="-663.09" y2="1023.77" gradientTransform="matrix(721.366, 0, 0, -761.678, 478347.45, 779817.615)" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#fff" stop-opacity="0.6"/>
                <stop offset="0.92" stop-color="#fff" stop-opacity="0"/>
                <stop offset="1" stop-color="#fff" stop-opacity="0"/>
              </linearGradient>
            </defs>
            <g>
              <path class="blue-gray" d="M41.809,24.172a4.979,4.979,0,0,0-3.572,1.3,4.49,4.49,0,0,0-1.377,3.4A5.594,5.594,0,0,0,37.2,30.86a5.021,5.021,0,0,0,1.055,1.672A15.413,15.413,0,0,0,41.1,34.6a14.4,14.4,0,0,1,3.42,2.593,3.3,3.3,0,0,1,.817,2.109,2.985,2.985,0,0,1-.988,2.356,3.87,3.87,0,0,1-2.66.883,4.348,4.348,0,0,1-4.37-4.474h-.542v4.912h.542c.166-.465.394-.7.694-.7a4.456,4.456,0,0,1,1.007.285,9.815,9.815,0,0,0,3.154.674,5.173,5.173,0,0,0,5.168-5.168,4.7,4.7,0,0,0-1-2.945,14.292,14.292,0,0,0-3.867-3,12.78,12.78,0,0,1-3.22-2.432A3.305,3.305,0,0,1,38.5,27.6a2.452,2.452,0,0,1,.9-1.986,3.583,3.583,0,0,1,2.366-.741,3.952,3.952,0,0,1,2.755.988A4.145,4.145,0,0,1,45.8,28.618h.542V24.362h-.5a1.289,1.289,0,0,1-.171.418.37.37,0,0,1-.294.1,3.639,3.639,0,0,1-.931-.219,8.3,8.3,0,0,0-2.631-.484Zm17.7,0a9.6,9.6,0,0,0-4.873,1.264,9.58,9.58,0,0,0-4.769,8.246A9.1,9.1,0,0,0,52.1,39.724a9.359,9.359,0,0,0,5.358,3.287A8.653,8.653,0,0,1,59.5,44.93a16.085,16.085,0,0,0,2.546,2.508,7.65,7.65,0,0,0,2.242,1.112,8.829,8.829,0,0,0,2.584.361,7.236,7.236,0,0,0,3.021-.6l-.2-.494a4.81,4.81,0,0,1-1.643.276,4.324,4.324,0,0,1-2.375-.779A14.771,14.771,0,0,1,62.7,44.331a10.222,10.222,0,0,0-1.159-1.32,9.378,9.378,0,0,0,5.6-3.306,9.194,9.194,0,0,0,2.185-6.023,9.043,9.043,0,0,0-2.84-6.754,9.639,9.639,0,0,0-6.973-2.755Zm11.048,0,.029.579c1.189,0,1.856.35,2,1.054a8.012,8.012,0,0,1,.085,1.387l-.009,12.816a2.866,2.866,0,0,1-.408,1.833,2.188,2.188,0,0,1-1.349.494l-.029.58H82.735l.3-2.907H82.5a2.322,2.322,0,0,1-1.073,1.681,6.563,6.563,0,0,1-3.011.484H77.292q-1.951,0-2.251-1.416a2.973,2.973,0,0,1-.057-.608l.047-12.958a3.331,3.331,0,0,1,.371-1.909,1.849,1.849,0,0,1,1.368-.532l-.028-.579H70.556Zm-10.859.7a6.005,6.005,0,0,1,4.931,2.394,10.309,10.309,0,0,1,1.9,6.574,9.77,9.77,0,0,1-1.919,6.327,6.23,6.23,0,0,1-5.1,2.375,5.964,5.964,0,0,1-4.95-2.451,10.13,10.13,0,0,1-1.89-6.375,10.068,10.068,0,0,1,1.909-6.441,6.2,6.2,0,0,1,5.12-2.4ZM86.963,27.63a.826.826,0,0,0-.674.294.8.8,0,0,0-.162.722,1.273,1.273,0,0,0,.466.731,1.247,1.247,0,0,0,.808.314.758.758,0,0,0,.646-.314.879.879,0,0,0,.143-.731,1.248,1.248,0,0,0-.446-.722,1.2,1.2,0,0,0-.779-.294ZM94.781,29.6q-.737,2.835-3.192,3.078l.019.542h1.909l-.038,6.4a13.557,13.557,0,0,0,.114,2.195,1.581,1.581,0,0,0,1.739,1.339q2.106,0,4.417-2.565l-.465-.4A4.573,4.573,0,0,1,96.33,41.88c-.528,0-.855-.3-.979-.9a2.3,2.3,0,0,1-.047-.513l.019-7.248h2.916l-.029-.865H95.332V29.6h-.551Zm11.276,2.413a4.625,4.625,0,0,0-3.99,2.366,6.718,6.718,0,0,0-.941,5.244,4.519,4.519,0,0,0,1.434,2.612,4.085,4.085,0,0,0,2.736.922,5.48,5.48,0,0,0,3.04-.779A7.137,7.137,0,0,0,110,39.857l-.408-.428a4.424,4.424,0,0,1-3.7,2.252c-1.7,0-2.746-.935-3.135-2.793a6.8,6.8,0,0,1-.114-.76,9.88,9.88,0,0,0,4.6-1.71c1.036-.822,2.075-1.693,1.881-2.613a2.117,2.117,0,0,0-.836-1.3,4.9,4.9,0,0,0-2.233-.494Zm-17.831.067-3.515.808v.627l1.216-.152a.941.941,0,0,1,1.045.8,4.291,4.291,0,0,1,.067.741L87,40.645c-.01.8-.1,1.258-.275,1.4a2.846,2.846,0,0,1-1.416.209l-.019.541h5.576l-.009-.542a3.881,3.881,0,0,1-1.5-.181.9.9,0,0,1-.437-.665,7.046,7.046,0,0,1-.076-1.216l.019-8.113h-.636Zm16.938,1.064a1.606,1.606,0,0,1,1,.389,1.5,1.5,0,0,1,.589.855c.318,1.528-1.037,2.584-4.085,3.173a5.383,5.383,0,0,1,.6-3.04,2.177,2.177,0,0,1,1.9-1.378Z" fill="#003b57"/>
              <path class="blue-gray-70 " d="M33.936,2.229H3.686A3.7,3.7,0,0,0,0,5.915v33.36a3.7,3.7,0,0,0,3.686,3.686H23.609c-.226-9.913,3.159-29.152,10.327-40.732Z" fill="#0f80cc"/>
              <path d="M32.837,3.3H3.686A2.614,2.614,0,0,0,1.075,5.915V36.841c6.6-2.534,16.511-4.72,23.362-4.621A212.737,212.737,0,0,1,32.837,3.3Z" fill="url(#a)"/>
              <path class="blue-gray" d="M40.992,1.137C38.92-.71,36.411.032,33.936,2.229c-.368.326-.734.688-1.1,1.075C28.6,7.8,24.671,16.119,23.449,22.474a17.5,17.5,0,0,1,1.092,3.137c.063.241.119.468.165.66.107.456.165.752.165.752s-.038-.144-.194-.6c-.03-.087-.063-.181-.1-.293q-.031-.082-.065-.162c-.276-.642-1.04-2-1.377-2.588q-.4,1.173-.755,2.361a20.889,20.889,0,0,1,1.563,4.821s-.051-.2-.3-.886A32.807,32.807,0,0,0,22.1,26.74a6.949,6.949,0,0,0-.454,2.969,10.35,10.35,0,0,1,.848,2.382c.575,2.21.974,4.9.974,4.9s.013.178.035.453a44.951,44.951,0,0,0,.112,5.518A19.558,19.558,0,0,0,24.615,48.3l.31-.169a23.865,23.865,0,0,1-.824-7.969,60.729,60.729,0,0,1,3.337-16.68C30.9,14.341,35.7,7.007,40.093,3.505c-4,3.617-9.425,15.324-11.048,19.66a78.6,78.6,0,0,0-3.88,13.776c1.339-4.092,5.667-5.851,5.667-5.851s2.123-2.618,4.6-6.359a45.139,45.139,0,0,0-4.744,1.263c-1.206.506-1.531.678-1.531.678a41.2,41.2,0,0,1,7.256-3.455c4.608-7.258,9.629-17.569,4.573-22.079" fill="#003b57"/>
            </g>
          </svg>
        </a>
      </div><!--
      --><div class="col-sm-6 col-md-4 logo">
        <!-- Electron -->
        <a href="https://electron.atom.io/">
          <svg xmlns="http://www.w3.org/2000/svg" width="202" height="31" viewBox="0 0 202 31">
            <path class="blue-gray" d="M42.6,24.824H53.7a.583.583,0,1,0,0-1.166H43.231V16.831h9.257a.583.583,0,1,0,0-1.166H43.231V8.983h10.35a.583.583,0,1,0,0-1.166H42.6a.643.643,0,0,0-.632.632V24.192a.643.643,0,0,0,.632.632Zm19.395-.632a.643.643,0,0,0,.632.632H72.757a.583.583,0,1,0,0-1.166h-9.5V8.352a.632.632,0,0,0-1.263,0Zm19.419.632h11.1a.583.583,0,1,0,0-1.166H82.045V16.831H91.3a.583.583,0,1,0,0-1.166H82.045V8.983H92.4a.583.583,0,0,0,0-1.166H81.414a.643.643,0,0,0-.632.632V24.192a.643.643,0,0,0,.632.632Zm27.1.292a8.808,8.808,0,0,0,6.438-2.648.616.616,0,0,0,.194-.437.634.634,0,0,0-.607-.607.616.616,0,0,0-.437.194,7.488,7.488,0,0,1-5.539,2.357,7.333,7.333,0,0,1-7.192-7.653v-.049a7.271,7.271,0,0,1,7.167-7.6,7.593,7.593,0,0,1,5.418,2.211.648.648,0,0,0,.437.17.665.665,0,0,0,.656-.632.73.73,0,0,0-.243-.51,8.884,8.884,0,0,0-6.244-2.381,8.548,8.548,0,0,0-8.5,8.8v.049a8.453,8.453,0,0,0,8.455,8.746Zm18.69-.826a.632.632,0,0,0,1.263,0V8.983h5.442a.583.583,0,1,0,0-1.166H121.758a.583.583,0,1,0,0,1.166H127.2Zm14.779,0a.632.632,0,0,0,1.263,0V17.778h5.564l5.224,6.8a.7.7,0,0,0,.559.34.687.687,0,0,0,.656-.656.7.7,0,0,0-.194-.437l-4.835-6.268c2.867-.389,4.981-2.017,4.981-4.859v-.049a4.484,4.484,0,0,0-1.288-3.158,6.7,6.7,0,0,0-4.786-1.676h-6.511a.643.643,0,0,0-.632.632Zm1.263-7.653V8.983h5.807c3.086,0,4.883,1.433,4.883,3.717v.049c0,2.454-2.114,3.887-4.956,3.887Zm27.825,8.479a8.559,8.559,0,0,0,8.576-8.8v-.049a8.555,8.555,0,1,0-17.1.049v.049a8.478,8.478,0,0,0,8.528,8.746Zm.049-1.142a7.36,7.36,0,0,1-7.264-7.653v-.049a7.278,7.278,0,0,1,7.216-7.6,7.36,7.36,0,0,1,7.264,7.653v.049a7.278,7.278,0,0,1-7.216,7.6Zm16.577.34a.607.607,0,0,0,1.215,0V9.664l11.686,14.82a.863.863,0,0,0,.632.413h.1a.519.519,0,0,0,.51-.535V8.327a.607.607,0,0,0-1.215,0V22.662L189.151,8.109a.789.789,0,0,0-.632-.364h-.194a.643.643,0,0,0-.632.632ZM10.168,6.74c-4.016-.731-7.191.034-8.456,2.226-.944,1.636-.674,3.8.655,6.122a.412.412,0,0,0,.714-.41c-1.2-2.088-1.43-3.96-.656-5.3,1.051-1.821,3.883-2.5,7.6-1.827a.412.412,0,1,0,.148-.81ZM4.455,17.906a25.772,25.772,0,0,0,6.139,4.847c5.825,3.363,12.027,4.262,15.083,2.178a.412.412,0,0,0-.464-.68c-2.735,1.865-8.626,1.011-14.207-2.211a24.953,24.953,0,0,1-5.942-4.688.412.412,0,0,0-.609.554ZM24.7,17.4c2.629-3.106,3.548-6.231,2.285-8.418-.929-1.609-2.894-2.459-5.5-2.493a.412.412,0,0,0-.011.824c2.348.031,4.04.763,4.8,2.081,1.049,1.817.23,4.6-2.2,7.474a.412.412,0,1,0,.629.532ZM17.944,6.877a25.717,25.717,0,0,0-7.338,2.908C4.592,13.257.67,18.377,1.215,22.089a.412.412,0,0,0,.815-.12c-.484-3.3,3.235-8.149,8.988-11.471a24.9,24.9,0,0,1,7.1-2.816.412.412,0,1,0-.173-.805ZM8.2,24.663c1.375,3.839,3.624,6.2,6.153,6.2,1.845,0,3.551-1.257,4.882-3.471a.412.412,0,1,0-.706-.424c-1.2,1.989-2.665,3.072-4.176,3.072-2.1,0-4.107-2.108-5.378-5.657a.412.412,0,1,0-.775.278Zm12.558-.751a25.857,25.857,0,0,0,1.094-7.632c0-6.822-2.388-12.7-5.789-14.213a.412.412,0,0,0-.334.753c3.033,1.347,5.3,6.928,5.3,13.461a25.038,25.038,0,0,1-1.056,7.386.412.412,0,0,0,.786.246Zm7.756-.4a1.971,1.971,0,1,0-1.971,1.971,1.971,1.971,0,0,0,1.971-1.971Zm-.824,0a1.147,1.147,0,1,1-1.147-1.147,1.147,1.147,0,0,1,1.147,1.147ZM2.138,25.479A1.971,1.971,0,1,0,.167,23.508a1.971,1.971,0,0,0,1.971,1.971Zm0-.824a1.147,1.147,0,1,1,1.147-1.147,1.147,1.147,0,0,1-1.147,1.147ZM14.355,4.077a1.971,1.971,0,1,0-1.971-1.971,1.971,1.971,0,0,0,1.971,1.971Zm0-.824A1.147,1.147,0,1,1,15.5,2.106a1.147,1.147,0,0,1-1.147,1.147Zm.3,14.42a1.426,1.426,0,1,1,1.093-1.695A1.426,1.426,0,0,1,14.656,17.673Z" fill="#47848f"/>
          </svg>
        </a>
      </div><!--
      --><div class="col-sm-6 col-md-4 logo prose-mirror">
        <!-- ProseMirror -->
        <a href="https://prosemirror.net/">
          <svg xmlns="http://www.w3.org/2000/svg" width="184" height="30" viewBox="0 0 184 30">
            <path class="blue-gray" d="M13,11.481A1.251,1.251,0,1,1,11.75,10.23,1.248,1.248,0,0,1,13,11.481Zm.748.576c-1.324,0-.294,1.533-.074,2.563C13.994,13.884,15.073,12.057,13.748,12.057ZM10.8,18.539a16.157,16.157,0,0,0,4.174,5.342c.072.063.144.125.213.184.154.13.3.251.435.359.567.456.952.718.978.735a12.555,12.555,0,1,1,5.468-3.314c.79,1.976,1.364,3.932,2.609,7.477-5.4-3.961-7.5-3.863-10.546-6.708A16.508,16.508,0,0,1,10.8,18.539ZM9.555,22.811c-3.74-2.563-3.188-8.277-3.176-11.6C6.391,7.728,9.518,5.595,12.5,5.656c3.568.061,6.156,2.649,5.874,6.119-.089,1.088-.139,2.068-.167,2.986a7.659,7.659,0,0,1,1.136,1.551c.831,1.484,1.436,2.651,1.927,3.7a10.679,10.679,0,1,0-9.9,3.679A7.7,7.7,0,0,1,9.555,22.811Zm4-8.118c4.856-.012,4.807-6.058,1.974-6.082a2.153,2.153,0,0,0-1.839,1.116,2.271,2.271,0,0,0-2.207-1.41C7.8,8.342,7.948,14.706,13.552,14.693Zm1.937-4.476a1.174,1.174,0,0,0-1.079,1.251,1.174,1.174,0,0,0,1.079,1.251,1.174,1.174,0,0,0,1.079-1.251A1.174,1.174,0,0,0,15.49,10.218Zm25.889,16.64h3.6V19.414H48.2a11.487,11.487,0,0,0,3.055-.387,6.8,6.8,0,0,0,2.45-1.21,5.713,5.713,0,0,0,1.628-2.062,6.736,6.736,0,0,0,.589-2.915,6.667,6.667,0,0,0-.589-2.962A5.2,5.2,0,0,0,53.721,7.94a6.438,6.438,0,0,0-2.434-1.054,14.419,14.419,0,0,0-3.086-.31H41.378Zm3.6-10.327V9.46h2.946a6.2,6.2,0,0,1,3.349.729,2.928,2.928,0,0,1,1.117,2.651q0,3.691-4.466,3.691ZM58.062,26.857h3.566v-9.3a5.386,5.386,0,0,1,1.706-2.434,3.322,3.322,0,0,1,1.891-.7,4.777,4.777,0,0,1,.837.062,6.6,6.6,0,0,1,.744.186l.62-3.1a4.295,4.295,0,0,0-4.093.481,6.381,6.381,0,0,0-1.954,2.279h-.124l-.248-2.7H58.062Zm9.489-4.218a7.41,7.41,0,0,0,1.6,2.512A6.786,6.786,0,0,0,71.459,26.7a7.2,7.2,0,0,0,2.729.527,7.328,7.328,0,0,0,2.745-.527,6.6,6.6,0,0,0,2.31-1.551,7.75,7.75,0,0,0,1.6-2.512,8.918,8.918,0,0,0,.6-3.38,8.92,8.92,0,0,0-.6-3.38,7.75,7.75,0,0,0-1.6-2.512,6.783,6.783,0,0,0-2.31-1.566,7.147,7.147,0,0,0-2.745-.543,7.027,7.027,0,0,0-5.039,2.109,7.41,7.41,0,0,0-1.6,2.512,9.126,9.126,0,0,0-.589,3.38A9.125,9.125,0,0,0,67.552,22.64Zm4.016-7.086a3.006,3.006,0,0,1,2.621-1.38,3.045,3.045,0,0,1,2.636,1.38,6.378,6.378,0,0,1,.961,3.706,6.317,6.317,0,0,1-.961,3.675,3.044,3.044,0,0,1-2.636,1.38,3,3,0,0,1-2.621-1.38,6.391,6.391,0,0,1-.946-3.675A6.454,6.454,0,0,1,71.568,15.554Zm10.4,9.567a10.071,10.071,0,0,0,2.652,1.5,8.44,8.44,0,0,0,3.117.6,8.032,8.032,0,0,0,2.543-.372,5.508,5.508,0,0,0,1.86-1.008,4.257,4.257,0,0,0,1.132-1.488,4.407,4.407,0,0,0,.387-1.845,3.952,3.952,0,0,0-.387-1.814,4.045,4.045,0,0,0-1.023-1.287,6.4,6.4,0,0,0-1.411-.884q-.776-.356-1.551-.636-.621-.216-1.194-.434A7.072,7.072,0,0,1,87.089,17a2.436,2.436,0,0,1-.7-.574,1.216,1.216,0,0,1-.264-.791,1.533,1.533,0,0,1,.542-1.194,2.5,2.5,0,0,1,1.69-.481,4.287,4.287,0,0,1,1.721.357,8.541,8.541,0,0,1,1.628.946l1.643-2.171a10.651,10.651,0,0,0-2.2-1.272,7.03,7.03,0,0,0-2.853-.558,6.053,6.053,0,0,0-4.063,1.272,4.124,4.124,0,0,0-1.488,3.287,3.36,3.36,0,0,0,.387,1.659,4.525,4.525,0,0,0,.993,1.225,6.086,6.086,0,0,0,1.38.9q.775.372,1.52.651.589.249,1.178.481a7.178,7.178,0,0,1,1.055.512A2.684,2.684,0,0,1,90,21.88a1.3,1.3,0,0,1,.279.822,1.667,1.667,0,0,1-.589,1.318,2.745,2.745,0,0,1-1.83.512,5.3,5.3,0,0,1-2.186-.45,9.639,9.639,0,0,1-2.031-1.256Zm13.1-2.5a7.142,7.142,0,0,0,1.6,2.5,6.991,6.991,0,0,0,2.388,1.566,7.9,7.9,0,0,0,2.946.543,8.42,8.42,0,0,0,2.791-.465,10.93,10.93,0,0,0,2.419-1.178l-1.21-2.233a8.2,8.2,0,0,1-1.69.822,5.6,5.6,0,0,1-1.845.294,4.293,4.293,0,0,1-3.054-1.116,5.017,5.017,0,0,1-1.442-3.195h9.676a7.186,7.186,0,0,0,.155-1.675,10.043,10.043,0,0,0-.4-2.915,6.558,6.558,0,0,0-1.194-2.295,5.335,5.335,0,0,0-1.969-1.488,6.627,6.627,0,0,0-2.729-.527,6.422,6.422,0,0,0-2.6.558A6.943,6.943,0,0,0,96.656,13.4,7.678,7.678,0,0,0,95.09,15.91a9.035,9.035,0,0,0-.589,3.349A9.216,9.216,0,0,0,95.074,22.624Zm2.869-4.729A4.7,4.7,0,0,1,99.214,15a3.348,3.348,0,0,1,2.388-.977,2.725,2.725,0,0,1,2.341,1.023,4.7,4.7,0,0,1,.76,2.853Zm12.218,8.963h3.318V17.585q0-.713-.046-1.551t-.124-1.69q-.077-.852-.155-1.675t-.139-1.535h.124l1.613,4.621,3.5,9.21h1.675l3.5-9.21,1.643-4.621h.124q-.063.713-.155,1.535t-.155,1.675q-.063.854-.109,1.69t-.047,1.551v9.272h3.38V6.576h-3.97l-3.6,9.986-1.3,3.846h-.124l-1.333-3.846-3.66-9.986h-3.97ZM134.971,8.405a1.869,1.869,0,0,0,.62-1.458,1.917,1.917,0,0,0-.62-1.473,2.467,2.467,0,0,0-3.163,0,1.914,1.914,0,0,0-.62,1.473,1.866,1.866,0,0,0,.62,1.458,2.52,2.52,0,0,0,3.163,0Zm-3.38,18.452h3.566V11.631H131.59Zm6.76,0h3.566v-9.3a5.386,5.386,0,0,1,1.706-2.434,3.322,3.322,0,0,1,1.891-.7,4.777,4.777,0,0,1,.837.062,6.6,6.6,0,0,1,.744.186l.62-3.1a4.295,4.295,0,0,0-4.093.481,6.381,6.381,0,0,0-1.954,2.279h-.124l-.248-2.7H138.35Zm10.2,0h3.566v-9.3a5.386,5.386,0,0,1,1.706-2.434,3.322,3.322,0,0,1,1.891-.7,4.777,4.777,0,0,1,.837.062,6.6,6.6,0,0,1,.744.186l.62-3.1a4.295,4.295,0,0,0-4.093.481,6.381,6.381,0,0,0-1.954,2.279h-.124l-.248-2.7h-2.946Zm9.489-4.218a7.41,7.41,0,0,0,1.6,2.512A6.786,6.786,0,0,0,161.95,26.7a7.2,7.2,0,0,0,2.729.527,7.328,7.328,0,0,0,2.745-.527,6.6,6.6,0,0,0,2.31-1.551,7.75,7.75,0,0,0,1.6-2.512,8.918,8.918,0,0,0,.6-3.38,8.92,8.92,0,0,0-.6-3.38,7.75,7.75,0,0,0-1.6-2.512,6.783,6.783,0,0,0-2.31-1.566,7.147,7.147,0,0,0-2.745-.543,7.027,7.027,0,0,0-5.039,2.109,7.41,7.41,0,0,0-1.6,2.512,9.126,9.126,0,0,0-.589,3.38A9.125,9.125,0,0,0,158.042,22.64Zm4.016-7.086a3.006,3.006,0,0,1,2.621-1.38,3.045,3.045,0,0,1,2.636,1.38,6.378,6.378,0,0,1,.961,3.706,6.317,6.317,0,0,1-.961,3.675,3.044,3.044,0,0,1-2.636,1.38,3,3,0,0,1-2.621-1.38,6.391,6.391,0,0,1-.946-3.675A6.454,6.454,0,0,1,162.058,15.554Zm12.048,11.3h3.566v-9.3a5.386,5.386,0,0,1,1.706-2.434,3.322,3.322,0,0,1,1.891-.7,4.777,4.777,0,0,1,.837.062,6.6,6.6,0,0,1,.744.186l.62-3.1a4.295,4.295,0,0,0-4.093.481,6.381,6.381,0,0,0-1.954,2.279H177.3l-.248-2.7h-2.946Z"/>
          </svg>
        </a>
      </div>
    </div>
  </section>
</div>

{{#contentFor 'footer'}} {{>footer}} {{/contentFor}}
