<h1>Credits</h1>

<h2>About Tropy</h2>
<p>Tropy is designed by the <a href="http://rrchnm.org/">Roy Rosenzweig Center for History and New Media</a>, a team that develops historical teaching resources, digital exhibits, and open-source software.</p>

<h2>Funding</h2>
<p>Tropy is funded by the <a href="https://mellon.org">Andrew W. Mellon Foundation</a>.</p>

<h2>Contributors</h2>
Stephen Robertson Principal investigator
Sean Takats Principal investigator
Sylvester Keil Lead developer
Kirill Stytsenko Developer
Johannes Krtek Product designer
Abby Mullen Project manager
Jim Safley Metadata specialist

<h2>Software we use</h2>
React
PixiJS
SQLite
Electron
ProseMirror