{% extends layout %}

{% block main %}
    <h1>{{ message }}</h1>
    <h2>{{ error.status }}</h2>

    {% if error.status == 404 %}

    {% else %}

    {% endif %}

    <pre>{{ error.stack }}</pre>
{% endblock %}
