<div class="jumbotron">
  <div class="container">
    <img class="tropy-icon" src="images/tropy-icon-large.svg" width="288" height="248" alt="Tropy">
    <p class="lead">Research Photo<br>Management</p>
    <a class="btn btn-lg btn-primary download-button">Download <strong>Tropy Beta</strong></a>
    <div class="download-links hidden-xs">
      <a href="/releases/tropy-1.0.0-beta.2.tar.bz2" class="download-link linux">Linux</a><!--
      --><a href="/releases/tropy-1.0.0-beta.3.dmg" class="download-link mac">macOS</a><!--
      --><a href="/releases/setup-tropy-1.0.0-beta.3.exe" class="download-link win">Windows</a>
    </div>
    <p class="mobile-hint visible-xs-block">Tropy is a desktop application. Check back on your desktop computing device to download a copy.</p>
    <hr class="visible-xs-block">
  </div>
</div>
<div class="container">
  <div class="row page-section" id="tropy-at-a-glance">
    <div class="col-sm-12 col-lg-10 col-lg-offset-1">
      <h1>Tropy at a glance</h1>
      <p class="lead">Take control of your research photos with Tropy, a tool that shortens the path from finding archival sources to writing about them. Spend more time using your research photos, and less time searching for them.</p>
      <h2 class="sr-only">Main features</h2>
      <div class="row">
        <div class="col-sm-4 main-feature">
          <img src="images/maze.svg" width="260" height="260" alt="Maze">
          <h4>Wrangle your <span class="second-line">photos</span></h4>
          <p>Organize your photos so they’re <strong>easy to find</strong>, <strong>easy to edit</strong>, and <strong>easy to analyze</strong>.</p>
        </div>
        <div class="col-sm-4 main-feature">
          <img src="images/bulk-edit.svg" width="260" height="260" alt="Bulk edit">
          <h4>Describe your research</h4>
          <p><strong>Add information</strong> to your photos, using customizable templates.</p>
        </div>
        <div class="col-sm-4 main-feature">
          <img src="images/open-source.svg" width="260" height="260" alt="Open source">
          <h4>Free & <span class="second-line">open source</span></h4>
          <p>Tropy is <strong>free</strong> and <strong>open source</strong> and is friends with <strong>Mac</strong>, <strong>Windows</strong> and <strong>Linux</strong>.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <section class="page-section" id="features">
    <div class="row">
      <div class="col-sm-12 col-lg-10 col-lg-offset-1">
        <h2>Tailor-made for researchers</h2>
        <div class="row">
          <div class="col-sm-4 col-md-2 col-md-offset-1 feature">
            <img src="images/document.svg" width="72" height="72" alt="">
            <p>Group photos <span class="second-line">into documents</span></p>
          </div>
          <div class="col-sm-4 col-md-2 feature">
            <img src="images/pencil.svg" width="72" height="72" alt="">
            <p>Annotate your <span class="second-line">photos</span></p>
          </div>
          <div class="col-sm-4 col-md-2 feature">
            <img src="images/tag.svg" width="72" height="72" alt="">
            <p>Add custom <span class="second-line">tags</span></p>
          </div>
          <div class="col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 feature">
            <img src="images/search.svg" width="72" height="72" alt="">
            <p>Search your <span class="second-line">collections</span></p>
          </div>
          <div class="col-sm-4 col-md-2 feature">
            <img src="images/package.svg" width="72" height="72" alt="">
            <p>Export your <span class="second-line">research</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <div class="row page-section">
    <div class="col-sm-12 col-lg-10 col-lg-offset-1">
      <h1>About Tropy</h1>
      <p class="lead">Bring order to your research — use the power of Tropy to organize and describe your research photos so you can quickly find your sources whenever you need them, whether that’s days or years later.</p>
      <div class="row">
        <div class="col-sm-6">
          <p>When you return from the archives with hundreds or thousands of research photos, making sense of them can feel like trying to escape a labyrinth. Tropy brings order to this chaos by providing a common-sense way to organize and describe your research. Use Tropy to transform impenetrable folders of nameless photos into an adaptable organization system where it’s easy to find any photo.</p>
        </div>
        <div class="col-sm-6">
          <p>Tropy is flexible enough to work the way that you do. Photos can be grouped into individual research documents or objects; documents can be grouped into collections or tagged. You can take notes to describe or transcribe your photos. Full-text search covers all of these levels to help you find what you need. Export to resources like Omeka and Flickr allows you to share and collaborate with others.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row page-section" id="team">
    <div class="col-sm-12 col-lg-10 col-lg-offset-1">
      <h1>Team</h1>
      <p class="lead">The team behind Tropy is based at the <a href="http://rrchnm.org/">Roy Rosenzweig Center for History and New Media</a> at <a href="https://www.gmu.edu/">George Mason University</a> and also in Vienna, Austria. Tropy is funded by the <a href="https://mellon.org">Andrew W. Mellon Foundation</a>.</p>
      <div class="row text-center contributors">
        <div class="col-sm-4 contributor">
          <h4>Stephen Robertson</h4>
          <p>Principal investigator</p>
        </div>
        <div class="col-sm-4 contributor">
          <h4>Sean Takats</h4>
          <p>Principal investigator</p>
        </div>
        <div class="col-sm-4 contributor"> <h4>Sylvester Keil</h4> <p>Lead developer</p>
        </div>
        <div class="col-sm-4 contributor">
          <h4>Johannes Krtek</h4>
          <p>Product designer</p>
        </div>
        <div class="col-sm-4 contributor">
          <h4>Abby Mullen</h4>
          <p>Project manager</p>
        </div>
        <div class="col-sm-4 contributor">
          <h4>Jim Safley</h4>
          <p>Metadata specialist</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{#contentFor 'footer'}}
{{>footer}}
{{/contentFor}}
