<div class="jumbotron">
  <div class="container">
    <img class="tropy-icon" src="images/tropy-icon-large.svg" width="288" height="248" alt="Tropy">
    <p class="lead">Research Photo<br>Management</p>
    <a class="btn btn-lg btn-primary download-button">Download <strong>Tropy</strong></a>
    <div class="download-links hidden-xs">
      <a href="/download/linux" class="download-link linux">Linux 64-bit</a><!--
      --><a href="/download/mac" class="download-link mac">macOS</a><!--
      --><a href="/download/windows" class="download-link win">Windows 64-bit</a><!--
      --><a href="https://github.com/tropy/tropy/releases/" class="download-link other">Other platforms</a>
    </div>
    <p class="mobile-hint visible-xs-block">Tropy is a desktop application. Check back on your desktop computing device to download a copy.</p>
    <hr class="visible-xs-block">
  </div>
</div>
<div class="container">
  <div class="page-section" id="tropy-at-a-glance">
    <div class="row">
      <div class="col-sm-12 col-lg-10 col-lg-offset-1">
        <h1>Tropy at a glance</h1>
        <p class="lead">Take control of your research photos with Tropy, a tool that shortens the path from finding archival sources to writing about them. Spend more time using your research photos, and less time searching for them.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="screenshot">
          <div class="screenshot-corners">
            <figure>
              <img class="project-view" src="images/tropical-medicine-project-view-1.0.jpg" srcset="images/tropical-medicine-project-view-1.0.jpg 1138w, images/tropical-medicine-project-view-1.0@2x.jpg 2276w" sizes="(min-width: 1200px) 1138px, 100vw" width="1138" height="638" alt="Tropy project view">
              <img class="item-view" src="images/tropical-medicine-item-view-1.1.jpg" srcset="images/tropical-medicine-item-view-1.1.jpg 1138w, images/tropical-medicine-item-view-1.1@2x.jpg 2276w" sizes="(min-width: 1200px) 1138px, 100vw" width="1138" height="638" alt="Tropy item view">
              <div class="chevron"></div>
              <div class="window-buttons"></div>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <section id="features">
      <div class="row">
        <div class="col-sm-12 col-lg-10 col-lg-offset-1">
          <h2>Tailor-made for researchers</h2>
          <div class="row">
            <div class="col-sm-4 col-md-2 col-md-offset-1 feature">
              <img src="images/document.svg" width="72" height="72" alt="">
              <p>Group photos <span class="second-line">into documents</span></p>
            </div>
            <div class="col-sm-4 col-md-2 feature">
              <img src="images/pencil.svg" width="72" height="72" alt="">
              <p>Annotate your <span class="second-line">photos</span></p>
            </div>
            <div class="col-sm-4 col-md-2 feature">
              <img src="images/tag.svg" width="72" height="72" alt="">
              <p>Add custom <span class="second-line">tags</span></p>
            </div>
            <div class="col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 feature">
              <img src="images/search.svg" width="72" height="72" alt="">
              <p>Search your <span class="second-line">collections</span></p>
            </div>
            <div class="col-sm-4 col-md-2 feature">
              <img src="images/package.svg" width="72" height="72" alt="">
              <p>Export your <span class="second-line">research</span></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <hr>
  <div class="row page-section">
    <div class="col-sm-12 col-lg-10 col-lg-offset-1">
      <h1>About Tropy</h1>
      <p class="lead">Bring order to your research — use the power of Tropy to organize and describe your research photos so you can quickly find your sources whenever you need them, whether that’s days or years later.</p>
      <div class="row">
        <div class="col-sm-6">
          <p>When you return from the archives with hundreds or thousands of research photos, making sense of them can feel like trying to escape a labyrinth. Tropy brings order to this chaos by providing a common-sense way to organize and describe your research. Use Tropy to transform impenetrable folders of nameless photos into an adaptable organization system where it’s easy to find any photo.</p>
        </div>
        <div class="col-sm-6">
          <p>Tropy is flexible enough to work the way that you do. Photos can be grouped into individual research documents or objects; documents can be grouped into collections or tagged. You can take notes to describe or transcribe your photos. Full-text search covers all of these levels to help you find what you need. Export to JSON-LD and Omeka S allows you to share and collaborate with others.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row page-section" id="team">
    <div class="col-sm-12 col-lg-10 col-lg-offset-1">
      <h1>Team</h1>
      <p class="lead">The team behind Tropy is based at the <a href="http://rrchnm.org/">Roy Rosenzweig Center for History and New Media</a> at <a href="https://www.gmu.edu/">George Mason University</a> and also in Vienna, Austria. Tropy is funded by the <a href="https://mellon.org">Andrew W. Mellon Foundation</a>.</p>
      <div class="row text-center contributors">
        <div class="col-sm-4 contributor">
          <h3 class="h4">Stephen Robertson</h3>
          <p>Principal investigator</p>
        </div>
        <div class="col-sm-4 contributor">
          <h3 class="h4">Sean Takats</h3>
          <p>Principal investigator</p>
        </div>
        <div class="col-sm-4 contributor">
          <h3 class="h4">Sylvester Keil</h3>
          <p>Lead developer</p>
        </div>
        <div class="col-sm-4 contributor">
          <h3 class="h4">Kirill Stytsenko</h3>
          <p>Developer</p>
        </div>
        <div class="col-sm-4 contributor">
          <h3 class="h4">Johannes Krtek</h3>
          <p>Product designer</p>
        </div>
        <div class="col-sm-4 contributor">
          <h3 class="h4">Abby Mullen</h3>
          <p>Project manager</p>
        </div>
        <div class="col-sm-4 col-sm-offset-4 contributor">
          <h3 class="h4">Jim Safley</h3>
          <p>Metadata specialist</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{#contentFor 'footer'}}
{{>footer}}
{{/contentFor}}
