<div class="container-fluid">
  <header class="page-header">
    <h1>Developer for Open-Source Research Platform</h1>
  </header>

  <p><a href="https://github.com/tropy">Tropy</a> is a new cross-platform desktop application for managing images of research material. Developed by the same lab that produces <a href="https://github.com/zotero">Zotero</a>, Tropy is an open-source project that creates research software and web services used by humanities scholars worldwide to organize and analyze their source materials, and is earning praise and recommendations from renowned research libraries and archives.</p>
  <p>We’re looking to hire a full-time, contract developer to join our team. Your job will be, most simply, to make Tropy as good as it can be, working on any part of the project to help advance that goal. This position is for someone with a wide range of skills: you should be comfortable obsessing over the frame rate of a user interface animation or designing a sync architecture from scratch. Your work might include improving the Tropy desktop software or building back-end services to power new features. As part of a small team, you’ll have responsibility over core components of the project and the freedom to experiment and find creative solutions to tough problems. Most importantly, you'll participate in a vibrant global open-source community with amazing community developers and passionate users.</p>
  <p>Your work will be based out of Roy Rosenzweig Center for History and New Media, a leading center for digital humanities that’s internationally recognized for its innovative open-source software. The core Tropy development team meets occasionally in person, but you’ll primarily be working remotely, communicating with Tropy developers and users via online workspaces, forums, and GitHub. We have a highly collaborative but asynchronous workflow, and you’ll be in control of your own schedule.</p>
  <h2 class="h4">Requirements:</h2>
  <ul>
    <li>Extensive experience with modern JavaScript, especially with Electron or Node.js, as well as React</li>
    <li>Experience with command-line Linux/Unix systems and services</li>
    <li>Comfort using version control and CI platforms</li>
    <li>Strong attention to privacy and security issues</li>
    <li>Willingness to participate in an open-source community</li>
  </ul>
  <h2 class="h4">Bonus:</h2>
  <ul>
    <li>A strong design sense and familiarity with modern CSS</li>
    <li>Experience developing desktop applications for Linux, macOS and/or Windows</li>
    <li>Experience working with WebGL and HTML Canvas</li>
    <li>Experience working with linked data and the semantic web (RDF, JSON-LD)</li>
    <li>Experience building user-friendly software and websites used by many people or the back-end services powering them, or both</li>
  </ul>
  <p>Interested? Please send a cover letter and résumé, including relevant programming projects and experience, to <a href="mailto:jobs@tropy.org?subject=Tropy Developer">jobs@tropy.org</a> with subject line “Tropy Developer.” We will begin considering applications immediately and continue until the position is filled. Applications without a cover letter will not be considered.</p>
</div>

{{#contentFor 'footer'}} {{>footer}} {{/contentFor}}
