<div class="container-fluid">
  <header class="page-header">
    <h1>Jobs at Tropy</h1>
  </header>
  <p>We’re always looking for talented designers, developers, and everyone with a passion for open-source software, interested in working with us on Tropy. If that’s you, we’d love to hear from you at <a href="mailto:jobs@tropy.org?subject=Tropy%20Developer">jobs@tropy.org</a>.
</div>

{{#contentFor 'footer'}} {{>footer}} {{/contentFor}}
