<div class="container-fluid">
  <img class="jobs-illustration img-responsive" src="images/jobs.svg" width="340" height="266" alt="Tropy Jobs">
  <h1>Jobs at Tropy</h1>
  <p class="lead">We’re always looking for talented designers, developers, and everyone with a passion for open-source software, interested in working with us on Tropy. If that’s you, we’d love to hear from you at <a href="mailto:jobs@tropy.org">jobs@tropy.org</a>.
</div>

{{#contentFor 'head'}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twittekr:site" content="@tropy">
<meta name="twitter:title" content="Jobs at Tropy">
<meta name="twitter:description" content="Tropy is free open-source software that allows you to organize and describe photographs of research material."/>
<meta name="twitter:image" content="https://tropy.org/images/tropy-jobs-twitter-card.png">
{{/contentFor}}
{{#contentFor 'footer'}} {{>footer}} {{/contentFor}}

