<div class="container-fluid">
  <header class="page-header">
    <img class="jobs-icon img-responsive" style="display: block; margin: 0 auto 29px;" src="images/jobs.svg" width="340" height="266" alt="Tropy Jobs">
    <h1>Jobs at Tropy</h1>
  </header>
  <h2 style="margin-top: 77px; margin">JavaScript Developer</h2>
  <p>We’re looking to hire a full-time, remote, contract developer to join our team building open-source software for researchers. If you love the AGPL and know JavaScript, then come work with us on Tropy, a beautiful Electron app built with React, SQLite, and WebGL. Tropy is not out to disrupt industries, transform markets, or change the world: it simply wants to be an elegant solution to research entropy. To help us achieve this goal, you’ll work closely with our lead developer and product designer, who will encourage you to focus on the areas that interest you most, and help you to build new skills.</p>
  <h3 class="h4">Requirements</h3>
  <ul>
    <li>You’re good at JavaScript, especially with Electron, Node.js, or React</li>
    <li>You share our enthusiasm for open-source development</li>
  </ul>
  <h3 class="h4">Bonus</h3>
  <p>Depending on what part of Tropy you’ll be working on, these skills and interests might help you hit the ground running:</p>
  <ul>
    <li>A good design sense and familiarity with CSS</li>
    <li>You value a good database schema, constraints and triggers</li>
    <li>You’ve hacked on or customized desktop apps before</li>
    <li>You’ve toyed with pixel shaders (or like computer graphics in general)</li>
    <li>You’re well-versed in the Babylonian confusion of AWS</li>
    <li>You love-to-hate linked data, RDF, or JSON-LD</li>
    <li>An interest in digital humanities, digital archives and preservation</li>
    <li>You speak more than one language</li>
  </ul>
  <p>The Tropy team is currently based in Vienna, Paris, and Washington, DC; the project itself is hosted by the <em>Roy Rosenzweig Center for History and New Media</em> (RRCHNM), the lab at George Mason University which also produces <a href="https://zotero.org">Zotero</a> and <a href="https://omeka.org">Omeka</a>. We are a small, progressive team and we like to get stuff done without any bureaucratic overhead; everyone around here adds their own unique voice and you might learn unexpected things about the slurve, labyrinths, 90s TV trivia, or Cuban coffee. The team meets occasionally in person, tracking art nouveau remains of Vienna or discussing the Washington music scene over a slice of pizza, but you’ll primarily be working remotely, communicating regularly with the rest of us and Tropy users via online chat, forums, and on GitHub. We have a highly collaborative yet asynchronous workflow, and you’ll be in control of your own schedule.</p>
  <p>Interested? Please send a cover letter and résumé, including relevant programming projects and experience, to <a href="mailto:jobs@tropy.org?subject=Tropy Developer">jobs@tropy.org</a> with subject line “Tropy Developer.” In your cover letter, please tell us what interests you most about working on Tropy or developing software for research. We will begin considering applications immediately and continue until the position is filled.</p>
</div>

{{#contentFor 'head'}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twittekr:site" content="@tropy">
<meta name="twitter:title" content="Jobs at Tropy">
<meta name="twitter:description" content="Tropy is free open-source software that allows you to organize and describe photographs of research material."/>
<meta name="twitter:image" content="https://tropy.org/images/tropy-jobs-twitter-card.png">
<style>
  h2 { margin-top: 77px; margin-bottom: 24px; }
  @media (min-width: $screen-sm-min) {
    h2 { margin-top: 114px; margin-bottom: 28px; }
  }
</style>
{{/contentFor}}
{{#contentFor 'footer'}} {{>footer}} {{/contentFor}}
