<div class="container-fluid">
  <header class="page-header">
    <h1>Workshops</h1>
  </header>

  <section class="page-section-sm">
    <h2>Train the Trainers</h2>
    <ol class="workshop-list">
      <li><a href="https://tropy.org/blog/boston-train-the-trainers/">November 13, 2018 — Boston</a></li>
      <li><a href="https://tropy.org/blog/dc-train-the-trainers/">December 12 and 13, 2018 — Washington, DC</a></li>
      <li>February 19, 2019 — Brighton, Great Britain</li>
    </ol>
  </section>

  <section class="page-section-sm">
    <h2>Other Workshops</h2>
    <ol class="workshop-list">
      <li><a href="https://aha.confex.com/aha/2019/webprogram/Session17353.html">January 4, 2019 — American Historical Association</a></li>
    </ol>
  </section>
</div>

{{#contentFor 'footer'}} {{>footer}} {{/contentFor}}
