//
// Author image
// --------------------------------------------------

.author-image {
  border-radius: 50%;

  .post-footer & {
    width: $author-image-size-md;
    height: $author-image-size-md;
    position: absolute;
    left: 50%;
    top: -4px;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    border: $space-md solid $body-bg;
  }

  .page-header & {
    width: $author-image-size-lg;
    height: $author-image-size-lg;
    margin: -25px auto 16px;

    @media (min-width: $screen-sm-min) {
      margin-top: -25px;
      margin-bottom: 24px;
    }
  }
}

.author-image-inner {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 50%;
}
