//
// Post
// --------------------------------------------------

.post-header {
  .post-template & {
    margin-top: 56px; // 96px

    @media (min-width: $screen-sm-min) {
      margin-top: 121px; // 144px
    }
  }
}

.post-title {
  margin-bottom: $space-sm;
}

.post-meta {
  text-align: center;
  margin-bottom: 46px; // 64px

  a {
    color: inherit;
  }
}

.post {
  p {
    @media (min-width: $screen-sm) {
      font-size: $post-font-size;
      line-height: $post-line-height;
      margin: 0 0 $post-line-height;
    }
  }
}


