//
// Post
// --------------------------------------------------

.post-header {
  .post-template & {
    margin-top: 56px; // 96px

    @media (min-width: $screen-sm-min) {
      margin-top: 121px; // 144px
    }
  }
}

.post-title {
  margin-bottom: $space-sm;
}

.post-meta {
  text-align: center;
  margin-bottom: 46px; // 64px

  a {
    color: inherit;
  }
}

.post-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: ($font-size-base + $line-height-computed) 0 $font-size-base;
    font: {
      family: "HelveticaNeue-Thin", "Helvetica Neue Thin", $font-family-sans-serif;
      weight: 200;
    }

    @media (min-width: $screen-sm-min) {
      margin: ($post-font-size + $post-line-height) 0 $post-font-size;
    }
  }

  h2 {
    font-size: 32px;

    @media (min-width: $screen-sm-min) {
      font-size: 48px;
    }
  }

  h3 {
    font-size: 24px;

    @media (min-width: $screen-sm-min) {
      font-size: 36px;
    }
  }

  h4 {
    font-size: 16px;

    @media (min-width: $screen-sm-min) {
      font-size: 24px;
    }
  }

  p {
    font-size: $font-size-base;
    margin: 0 0 $line-height-computed;

    @media (min-width: $screen-sm) {
      font-size: $post-font-size;
      line-height: $post-line-height;
      margin: 0 0 $post-line-height;
    }
  }

  img {
    display: block;
    position: relative;
    height: auto;
    padding: 9px 0 6px;

    @media (max-width: $screen-xs-max) {
      width: calc(100% + #{$grid-gutter-width});
      margin-left: -$grid-gutter-width / 2;
    }

    @media (min-width: $screen-sm-min) {
      max-width: 126%;
      left: 50%;
      transform: translateX(-50%);
      padding: 12px 0 10px;

      .ie-9 & {
        @media (min-width: $screen-sm-min) {
          margin: auto;
          max-width: 100%;
          left: 0;
          transform: none;
        }
      }
    }
  }
}


