//
// Post
// --------------------------------------------------

.post {
  p {
    font-size: $post-font-size;
    line-height: $post-line-height;
    margin: 0 0 $post-line-height;
  }
}
