//
// Type
// --------------------------------------------------

.separator {
  margin: 0 $space-min;

  &::after {
    content: "·";
  }
}

.page-header {
  text-align: center;
  margin: 46px 0 52px;
  padding-bottom: 9px;
  border-bottom: 1px solid $page-header-border-color;

  @media (min-width: $screen-sm-min) {
    margin: 121px 0 77px;
  }

  .author-template & {
    padding-bottom: 58px;

    @media (min-width: $screen-sm-min) {
      padding-bottom: 90px;
    }
  }
}

.post-title {
  margin-bottom: $space-md;

  @media (max-width: $screen-xs-max) {
    margin-bottom: ($space-md * 2 / 3);
  }

  .post-template & {
    margin-bottom: $space-xs;
  }

  a {
    //color: inherit;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: $blue-dark;
      text-decoration: none;
    }
  }
}

.post-excerpt {
  margin-bottom: $font-size-small;
}

.post-meta,
.author-meta {
  a {
    color: inherit;
  }
}

.post-meta {
  text-align: center;
  //color: $blue-gray-light;

  body:not(.post-template) & {
    font-size: $font-size-small;
  }

  .post-template & {
    margin-bottom: 46px; // 64px
  }
}

.lead {
  .author-template & {
    margin-bottom: 16px;
  }
}


