//
// Credits
// --------------------------------------------------

.credits {
  text-align: center;

  .page-section-sm {
    padding: 36px 0 40px;

    @media (min-width: $screen-sm-min) {
      padding: 54px 0 63px;
    }
  }

  h2 {
    margin-bottom: $space-lg / 2;

    @media (max-width: $screen-xs-max) {
      margin-bottom: $font-size-large-mobile / 2;
    }
  }

  .contributors {
    margin-top: 49px; // 64px
    margin-bottom: -23px;

    @media (min-width: $screen-sm-min) {
      margin-top: 79px; // 96px
      margin-bottom: -78px; // 72px
    }
  }

  .contributor {
    &:nth-child(10) {
      @media (min-width: $screen-md-min) {
        margin-left: 16.67%;
      }
    }

    &:nth-child(11) {
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        margin-left: 25%;
      }
    }
  }

  .h4 {
    letter-spacing: -0.5px;
    white-space: nowrap;
    margin: 0 0 $space-xs;
  }

  .logos {
    margin-top: 46px;
    margin-bottom: 3px;

    @media (min-width: $screen-sm-min) {
      margin-top: 86px; // 96px
      margin-bottom: -20px; // 144px
    }
  }

  .logo {
    vertical-align: middle;
    position: relative;
    margin-bottom: $space-xxl;

    @media (min-width: $screen-sm-min) {
      margin-bottom: $space-max;
      display: inline-block;
      float: none;
    }
  }

  .pixi-js,
  .sqlite {
    top: 2px;
  }

  .prose-mirror {
    top: -2px;
  }

  svg {
    vertical-align: middle;

    path {
      transition: fill 0.8s ease;
    }

    &:not(:hover) {
      .blue-gray {
        fill: $blue-gray;
      }

      .blue-gray-70 {
        fill: mix($blue-gray, $white, 70%);
      }
    }
  }
}
