//
// Footer
// --------------------------------------------------

.main-footer {
  border-top: 1px solid $gray-lighter;
  padding: $space-xl 0 21px;
  text-align: center;

  @media (min-width: $screen-sm-min) {
    padding: $space-xxl 0;
    text-align: left;
  }

  h2 {
    display: inline;
    font: {
      size: inherit;
      family: inherit;
      weight: inherit;
    }
    color: $blue-gray-light;
  }
}

.footer-right {
  margin-top: 18px;
  line-height: $space-xl;
  font-size: $font-size-small;

  @media (min-width: $screen-sm-min) {
    margin-top: 0;
    line-height: $space-xxl;
    float: right;
    font-size: $font-size-base;
  }
}

.footer-nav {
  @media (min-width: $screen-sm-min) {
    display: inline;
  }

  ul,
  li {
    display: inline;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: $blue-gray;
    margin-left: ($space-lg - 4px); // 4px white-space

    @media (min-width: $screen-sm-min) {
      margin-left: ($grid-gutter-width - 4px); // 4px white-space
    }

    &:hover {
      color: inherit;
    }
  }
}

.link-group {
  margin-left: ($space-lg - 4px); // 4px white-space

  @media (min-width: $screen-md-min) {
    margin-left: ($grid-gutter-width - 4px); // 4px white-space
  }

  a {
    margin-left: ($space-sm - 4px); // 4px white-space
  }
}
