//
// Footer
// --------------------------------------------------

.main-footer {
  border-top: 1px solid $gray-lighter;
  padding: ($space-xl - 11px) 0 ($space-xl + 4px);
  font-size: $font-size-small;
  line-height: $space-xl;

  @media (min-width: $screen-sm-min) {
    padding: $space-xl 0 42px;
    font-size: $font-size-base;
  }

  h2 {
    font: {
      size: inherit;
      family: inherit;
      weight: inherit;
    }
    line-height: inherit;
    color: $blue-gray-light;
    margin: 0 ($space-lg * 0.375 / 2) 0 $space-sm;

    @media (min-width: $screen-sm-min) {
      margin: 0 ($space-md / 2) 0 $space-lg;
    }
  }
}

.footer-nav-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-nav {
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: $blue-gray;

    &:hover {
      color: inherit;
    }
  }
}

.page-nav {
  a {
    margin: 0 $space-sm;

    @media (min-width: $screen-sm-min) {
      margin: 0 $space-lg;
    }
  }
}

.social-nav-container {
  display: flex;
  margin-right: $space-sm - ($space-lg * 0.375 / 2);

  @media (min-width: $screen-sm) {
    margin-right: $space-lg - ($space-xxl * 0.375 / 2);
  }
}

.social-nav {
  a {
    margin: 0 ($space-lg * 0.375 / 2);

    @media (min-width: $screen-sm-min) {
      margin: 0 ($space-xxl * 0.375 / 2);
    }
  }
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $screen-sm-min) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: (42px - 14px);
  }
}

.logo-link {
  margin: 0 $space-lg;
}

.rrchnm-link {
  @media (max-width: $screen-xs-max) {
    margin-top: ($space-xl - 11px);
  }
}

.c2dh-link {
  position: relative;
  left: 13px;
  margin-top: ($space-xl - 4px);

  @media (min-width: $screen-sm-min) {
    left: 0;
    margin-top: 0;
    bottom: 4px;
  }
}
