//
// Header
// --------------------------------------------------

.main-header {
  height: $space-xxxl;
  padding: $space-md 0;

  @media (min-width: $screen-sm-min) {
    height: $space-max;
    padding: $space-xl 0;
  }

  a {
    color: $blue-gray;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
    }
  }
}

.brand {
  font: {
    size: $font-size-large;
    family: $font-family-base;
    weight: 400;
  }
  text-align: left;
  color: $blue-gray;
  float: left;
  line-height: 1;
  margin: 0;
}

.brand-title {
  vertical-align: middle;
}

.tropy-icon {
  margin-right: 12px;
}

.header-nav {
  float: right;

  a + a {
    margin-left: ($grid-gutter-width / 2);

    @media (min-width: $screen-sm) {
      margin-left: $grid-gutter-width;
    }
  }
}

.nav-toggle {
  float: right;
  padding: $nav-toggle-padding-vertical $nav-toggle-padding-horizontal;
  margin-right: -$nav-toggle-padding-horizontal;
  border: 0;
  background: transparent;

  &:focus {
    outline: none;

    .icon-bar {
      background: $blue-gray-dark;
    }
  }

  .icon-bar {
    display: block;
    width: $icon-bar-width;
    height: $icon-bar-height;
    margin-top: $icon-bar-spacing;
    background: $blue-gray;

    &:first-child {
      margin-top: 0;
    }
  }
}
