//
// Jobs
// --------------------------------------------------

.jobs {
  line-height: 28px;

  .page-header {
    margin-bottom: $space-xxxl - 18px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: $space-max - 22px;
    }
  }

  .jobs-illustration {
    display: block;
    margin: ($space-xxxl - 24px) auto ($space-xxxl - 24px);

    @media (min-width: $screen-sm-min) {
      margin-top: $space-xxl;
    }
  }

  p {
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: $space-xxxl - 8px;

      @media (min-width: $screen-sm-min) {
        margin-bottom: $space-max - 9px;
      }
    }
  }
}
