//
// Jumbotron
// --------------------------------------------------

.jumbotron {
  text-align: center;
  padding-top: 40px; // 64px

  @media (min-width: $screen-sm-min) {
    height: 698px;
    padding: $space-xxl 0;
    background: url(image-path("key-visual.svg")) no-repeat center bottom;
    background-size: 3000px 340px;
    margin-bottom: $jumbotron-padding; // 96px
  }

  .tropy-icon {
    display: block;
    margin: 0 auto 29px;

    @media (max-width: $screen-xs-max) {
      width: 144px;
      height: auto;
      margin-bottom: 14px;
    }
  }

  p {
    font-weight: 300;
  }

  .lead {
    font-size: $font-size-large;
    line-height: $headings-line-height;
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 24px;
      font: {
        size: $jumbotron-font-size;
        family: -apple-system, BlinkMacSystemFont, "HelveticaNeue-Thin", "Helvetica Neue Thin", "Segoe UI", Helvetica, Arial, sans-serif;
        weight: 200;
      }
    }
  }

  .available-soon {
    font: {
      family: $headings-font-family;
      size: $font-size-base;
      weight: 300;
    }

    @media (min-width: $screen-sm-min) {
      font-size: 20px;
    }

    span {
      display: inline-block;
      line-height: 1;
      border: 1px solid $text-color;
      padding: 7px 11px;
      border-radius: 3px;

      @media (min-width: $screen-sm-min) {
        padding: 11px 15px;
      }
    }
  }

  .mobile-hint {
    font: {
      size: $font-size-small;
      weight: 400;
    }
    width: 90%;
    margin: 18px auto 0;
  }

  hr {
    margin: {
      top: 64px;
      bottom: 0;
    }
  }

  .download-button {
    @media (max-width: $screen-xs-max) {
      pointer-events: none;
      opacity: 0.6;
    }
  }

  .download-links {
    margin-top: $space-sm;
  }

  .download-link {
    font-size: $font-size-small;

    & + .download-link {
      margin-left: $space-md;
    }
  }
}

