//
// Jumbotron
// --------------------------------------------------

.jumbotron {
  text-align: center;
  padding-top: 40px; // 64px

  @media (min-width: $screen-sm-min) {
    height: 605px;
    padding: $space-xxl 0;
    background: url(image-path("key-visual.svg")) no-repeat center bottom;
    background-size: 3000px 340px;
    margin-bottom: $jumbotron-padding; // 96px
  }

  .tropy-icon {
    display: block;
    margin: 0 auto 48px;

    @media (max-width: $screen-xs-max) {
      width: 144px;
      height: auto;
      margin-bottom: 34px; // 42px proportionally to desktop version
    }
  }

  .lead {
    font: {
      size: 20px;
      weight: 300;
    }
    line-height: $headings-line-height;
    margin-bottom: 28px;

    @media (min-width: $screen-sm-min) {
      font-size: $jumbotron-font-size;
      margin-bottom: 41px;
    }
  }

  .mobile-hint {
    font: {
      size: $font-size-small;
      weight: 400;
    }
    width: 90%;
    margin: 18px auto 0;
  }

  hr {
    margin: {
      top: 60px;
      bottom: 0;
    }
  }
}

