//
// Mobile nav
// --------------------------------------------------

.mobile-nav {
  background: $blue-gray;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: $nav-toggle-width;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-misspelled-properties
  transform: translate3d(25%, 0, 0);
  opacity: 0.01;
  transition: transform $mobile-nav-transition,
    opacity 0s linear $mobile-nav-transition-duration;

  .nav-opened & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform $mobile-nav-transition;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    list-style: none;
    margin: 46px 0; // 64px
    padding: 0;
    line-height: $space-thumb;
  }

  li {
    &.active {
      opacity: 0.5;
    }
  }

  a {
    display: block;
    padding: 0 $space-xl;
    color: $white;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.nav-cover {
  .nav-opened & {
    position: fixed;
    left: 0;
    top: 0;
    width: $nav-toggle-width;
    bottom: 0;
    z-index: 1;
  }
}
