//
// Scaffolding
// --------------------------------------------------

hr {
  border-top-width: 2px;
  margin: 0;
}

.section {
  padding: 42px 0 58px;

  @media (min-width: $screen-sm-min) {
    padding: 74px 0 90px;
  }
}

.main-feature {
  text-align: center;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 38px; // 64px
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 17px;
  }

  p {
    font-size: $font-size-small;
    margin-bottom: $font-size-small;
    color: $headings-color;
  }
}

.feature {
  text-align: center;
  line-height: 1.3125; // 21px
  margin-bottom: 27px; // 32px

  img {
    margin-bottom: 14px;
  }

  p {
    color: $headings-color;
    margin: 0 (-$space-xs);
  }

  .second-line {
    @media (min-width: $screen-sm-min) {
      display: block;
    }
  }
}

.contributor {
  margin-bottom: 31px;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 63px;
  }
}


// Pixel perfect
// --------------------------------------------------

#tropy-at-a-glance {
  @media (max-width: $screen-xs-max) {
    padding-bottom: 20px;
  }

  .lead {
    margin-bottom: 67px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 36px;
    }
  }
}

#features {
  padding-bottom: 32px;

  @media (min-width: $screen-sm-min) {
    padding-bottom: 64px; // 96px
  }
}

#team {
  padding-bottom: 27px;

  @media (min-width: $screen-sm-min) {
    padding-bottom: 11px;
  }

  h3 {
    margin: {
      left: -$space-md; // Prevent line break in Stephen Roberston
      right: -$space-md;
    }
  }

  .lead {
    margin-bottom: 45px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 76px;
    }
  }

}