//
// Scaffolding
// --------------------------------------------------

hr {
  border-top-width: 2px;
  margin: 0;
}

.page-section {
  padding: 48px 0 34px;

  @media (min-width: $screen-sm-min) {
    padding: 72px 0 66px;
  }
}

.main-feature {
  text-align: center;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 38px; // 64px
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 19px;
  }

  p {
    font-size: $font-size-small;
    color: $headings-color;

    strong {
      line-height: 1; // Fix line-height bug.
    }
  }

  .second-line {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      display: block;
    }
  }
}

.feature {
  text-align: center;
  line-height: 1.3125; // 21px
  margin-bottom: 27px; // 32px

  img {
    margin-bottom: 14px;
  }

  p {
    color: $headings-color;
    margin: 0 (-$space-xs);
  }

  .second-line {
    @media (min-width: $screen-sm-min) {
      display: block;
    }
  }
}

.contributors {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    padding: 0 3.125%;
  }

  @media (min-width: $screen-md-min) {
    padding: 0 12.5%;
  }
}

.contributor {
  margin-bottom: 33px;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 57px;
  }
}


// Pixel perfect
// --------------------------------------------------

#tropy-at-a-glance {
  @media (max-width: $screen-xs-max) {
    padding-bottom: 20px;
  }

  .lead {
    margin-bottom: 67px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 36px;
    }
  }
}

#features {
  padding-bottom: 32px;

  @media (min-width: $screen-sm-min) {
    padding-bottom: 64px; // 96px
  }
}

#team {
  padding-bottom: 25px;

  @media (min-width: $screen-sm-min) {
    padding-bottom: 9px;
  }

  h3 {
    margin: {
      left: -$space-md; // Prevent line break in Stephen Roberston
      right: -$space-md;
    }
  }
}
