//
// Scaffolding
// --------------------------------------------------

main {
  flex: 1 1 auto;

  + .container {
    flex: 0 0 auto;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
}

.container-fluid {
  max-width: $container-fluid-width;

  @media (min-width: $screen-sm) {
    padding: 0;
    width: 80%;
  }
}

hr {
  margin: 0;
}

// Assumes h1 as first child and p as last child
.page-section {
  padding: 48px 0 34px;

  @media (min-width: $screen-sm-min) {
    padding: 72px 0 66px;
  }
}

.page-section-sm {
  padding: 48px 0;

  @media (min-width: $screen-sm-min) {
    padding: 72px 0; // Doubles to 144px
  }
}
