//
// Type
// --------------------------------------------------

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-align: center;
  margin: 0;
}

h1,
h2,
h3 {
  font: {
    family: -apple-system, BlinkMacSystemFont, "HelveticaNeue-Thin", "Helvetica Neue Thin", "Segoe UI", Helvetica, Arial, sans-serif;
    weight: 200;
  }
}

h1 {
  margin: 0 0 ($space-lg / 2);

  @media (max-width: $screen-xs-max) {
    font-size: $font-size-h1-mobile;
    margin-bottom: ($font-size-large-mobile / 2);
  }

  &.error-message {
    font-size: $font-size-h2;
    margin-top: ($space-max - 16px);
  }
}

h2 {
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-h2-mobile;
  }
}

h3 {
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-h3-mobile;
  }
}

h4,
.h4 {
  margin: 0 0 ($font-size-base / 2);
}

.lead {
  font-family: $headings-font-family;
  text-align: center;
  margin-bottom: 78px; // 96px
  line-height: 1.5;
  color: $headings-color;

  @media (min-width: $screen-sm-min) {
    width: 80%;
    margin: {
      left: auto;
      right: auto;
    }
  }

  @media (max-width: $screen-xs-max) {
    font-size: $font-size-large-mobile;
    margin-bottom: 47px; // 64px
  }

  &:last-child {
    margin: 0 auto;
  }
}

p {
  margin-bottom: $line-height-computed;
}

ul,
ol {
  margin-bottom: $line-height-computed;
}

small,
.small {
  font-size: (100% * $font-size-small / $font-size-base); // Without floor
}

.page-header {
  border: 0;
  padding: 0;
  margin: 56px 0 41px; // 96px to header text

  @media (min-width: $screen-sm-min) {
    margin: 121px 0 61px; // 144px, assumes subsequent page-section-sm with h2
  }
}
