{{!< default}}

{{#contentFor 'navigation'}}
{{>navigation}}
{{/contentFor}}

<div class="container-fluid">
  <header class="page-header">
    {{#tag}}
      <h1 class="page-title">{{name}}</h1>
      <p class="lead">{{{description}}}</p>
    {{/tag}}
  </header>

  {{> loop}}
</div>

{{#contentFor 'footer'}}
{{>footer}}
{{/contentFor}}