{{!< default}}

<header class="page-header">
  {{#tag}}
    <h1 class="page-title">{{name}}</h1>
    <p class="lead">{{{description}}}</p>
  {{/tag}}
</header>

{{> loop}}

{{#contentFor 'footer'}}
{{>footer}}
{{/contentFor}}